# nixpacks.toml
[phases.setup]
nixPkgs = ["nodejs-20_x"]

[phases.install]
cmds = ["npm ci || npm install"]

[phases.build]
cmds = ["NODE_ENV=production npm run build"]

[start]
cmd = "npm start"

[variables]
NODE_ENV = "production"